@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #9d695a;
    --secondary-color: #d496a7;
    --accent1-color: #a1cdf1;
    --accent2-color: #78E0DC;

    --heading-font: '50px', serif;
    --paragraph-font: '50', serif;

    --nav-background-color: #de6b48;
    --nav-link-color: #35b181;
    --nav-hover-link-color: #f4b9b2;
    --nav-hover-background-color: #daedbd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 15px;
    font-family: "Playwrite NG Modern", cursive;
}

p1 {
    padding: 15px;
    font-family: "Playwrite NG Modern", cursive;
    font-size: 13px;
}


div {
    font-family: var(--heading-font);
    color: var(--primary-color);


}

nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}